    /* Cores
    quase branco: #EDF2F4
    Middle Blue Purple: #8A83D4
    Space Cadet: #2B2D42
    */
*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all 0.5s;
}
body{
    background-color: #EDF2F4;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    display: flex;
    flex-flow: column;
}
header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6em;
    background-color: #8A83D4;
    color: #EDF2F4;
}
header h4{
    font-size: 20px;
}
header ul{
    list-style: none;
    width: 300px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.mobile-menu{
    display: none;
}
.container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70vh;
    /* height: 70vh; */
    flex-flow: row wrap;    
}
.container .gif{
    /* border: 1px solid red; */
    animation: floaty 2s infinite alternate;
}
.text{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}
.text h1{
    font-size: 80px;
    color: #2B2D42;
}
.text p{
    max-width: 15em;
}
.text a{
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: #8A83D4;
    background-color: #2B2D42;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.233);
    transition: all 0.5s;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid red; */
    /* height: 17vh; */
    gap: 10px;
    margin-bottom: 0;
    height: 100%;
}

footer div{
    border: 1px solid black;
    height: 18px;
}

@keyframes floaty{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
}
.text a:hover{
    transform: translateY(-2px);
}
.text a:active{
    transform: translateY(2px);
}
.clicked-menu{
    display: none;
    flex-flow: column wrap;
    text-decoration: none;
    gap: 50px;
}
.clicked-menu a{
    text-decoration: none;
    color: #EDF2F4;
}
.fechar-menu{
    display: none;
    align-self:flex-start;
    margin-top: 40px;
    
    width: 35px;  
}
.limpar{
    display: none;
}
.menu-mobile{
    display: none;
}
@media (max-width : 600px){
    .container .gif{
        width: 100vw;
        align-self: center;
    }
    .container .gif img{
        width: 100vw;
    }
    footer{
        display: none;
    }
    .text{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }
    .text h1{
        font-size: 60px;
    }
    @keyframes floaty{
        0%{
            transform: translateY(-15px);
        }
        100%{
            transform: translateY(0);
        }
    }

    /* header */
    .mobile-menu{
        display: flex;
        width: 35px;
    }
    .menu-version{
        background-color: #2B2D42;
        min-height: 20em;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        
    }
    header ul{
        display: none;
    }
    .menu-mobile{
        display: flex;
    }
}
